.header {
    background: rgb(74,20,140);
    background: linear-gradient(90deg, rgba(74,20,140,1) 50%, rgba(171,71,188,1) 100%);
    color: white;
    position: relative;
    overflow: hidden;
    transition: 5s;
}

.header img {
    background-color: rgb(74,20,140);
    border: 3px solid #e91e63;
    padding: .2em;
    position: relative;
    margin: 0 auto;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.hide-balance {
    color: white;
    text-decoration: none;
}

.hide-balance:hover {
    color: #e91e63;
    text-decoration: none;
}

.hideElement {
    height: 219px;
    transition: 1s;
}

.showElement {
    height: 403px;
    transition: 1s;
}